.drag-zone {
    border: 3px dashed black;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    height: 200px;
    cursor: pointer !important;
}

    .drag-zone:hover {
        background-color: #F3F3F4;
    }

.focus {
    border: 2px dashed blue;
    border-radius: 8px;
    padding: 0;
    height: 200px;
    background-color: #FFEBC6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 5px;
    margin: 5px;
    justify-items: flex-start;
}
